nav{
	padding: 30px;
display: flex;
justify-content: space-between;
font-size: 20px;
}
.mentor{
	font-family: sans-serif;
	padding: 10px;
}


.mentor:hover {
	color: violet;
	padding: 5px;

}
button
{
	color: black;
	border-radius: 30px;
	width: 100px;
	border-color: violet;
font-family: sans-serif;
}
.button:hover {
	color: blue;
	background-color: violet;
}

h1
{
	font-size: 40px;
	margin: 0px;
	font-family: sans-serif;

}
h1:hover{

	background-color: blueviolet;
}

main{
	text-align: center;
	padding: 100px;
	font-family: sans-serif;

}
.container{
	display: flex;
}
.item1
{    
	background-color: white;
}

.item2
{
background-color: white;
}

.item3
{
background-color: white;	
}